<ion-header no-border>
  <ion-toolbar color="background">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/sightings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="background">
  <ion-grid class="ion-padding details-grid">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text color="secondary">
          <h1>Add New</h1>
        </ion-text>
        <hr>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item color="background">
            <ion-label position="stacked">typeface name</ion-label>
            <ion-input type="text" autocomplete formControlName="tName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-label position="stacked" class="ion-padding">certainty</ion-label>
          <ion-item color="background">
            <ion-range min="0" max="100" color="dark" [(ngModel)]="certaintyValue" formControlName="certainty">
              <ion-label slot="end">{{certaintyValue}}%</ion-label>
            </ion-range>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item color="background">
            <ion-label position="stacked">business name</ion-label>
            <ion-input type="text" autocomplete formControlName="bName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item color="background">
            <ion-label position="stacked">signage/item category</ion-label>
            <ion-select interface="action-sheet" formControlName="category">
              <ion-select-option value="Shop Sign">Shop Sign</ion-select-option>
              <ion-select-option value="Street Sign">Street Sign</ion-select-option>
              <ion-select-option value="Poster">Poster</ion-select-option>
              <ion-select-option value="Menu">Menu</ion-select-option>
              <ion-select-option value="Billboard">Billboard</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item color="background">
            <ion-label position="stacked">suitable/effective usage</ion-label>
            <ion-range min="1" max="5" snaps ticks="false" color="dark" [(ngModel)]="ratingValue" formControlName="rating"></ion-range>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item color="background">
            <ion-label position="stacked">location</ion-label>
            <ion-input type="text" autocomplete formControlName="location"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center ion-padding">
          <ion-button class="btn" color="secondary" fill="outline" (click)="onCreateSighting()" [disabled]="!form.valid">
            Submit
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
