<ion-header>
  <ion-toolbar color="background">
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="searchVisibleToggle()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button routerLink="/sightings/new">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="background">
  <ion-grid class="ion-padding main-grid">
    <ion-row *ngIf="searchVisible">
      <ion-col>
        <ion-searchbar showCancelButton="never"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="centered-h">
        <ion-img class="small-logo logo-offset" [src]="logoSvg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text color="secondary">
          <h1>Contributions</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-segment (ionChange)="onFilterUpdate($event.detail.value)">
          <ion-segment-button value="yours" checked>Yours</ion-segment-button>
          <ion-segment-button value="all">All</ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!shownSightings || shownSightings.length === 0" style="flex-grow: 1;">
      <ion-col class="centered-h centered-v flex-dir-col ion-text-center">
        <ion-img class="plus-icon" [src]="plusSvg"></ion-img>
        <ion-button class="btn" color="secondary" fill="outline" routerLink="/sightings/new">Add a new contribution</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="shownSightings && shownSightings.length > 0">
      <ion-col>
        <ion-virtual-scroll [items]="shownSightings" approxItemHeight="70px" >
          <ion-item [routerLink]="['/', 'sightings', sighting.id]" *virtualItem="let sighting" color="background" detail>
            <ion-avatar slot="start">
              <ion-img [src]="sighting.photo"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>{{ sighting.typefaceName }}</h2>
              <ion-text color="dark">
                <!-- <p>{{ sighting.location.address }}</p> -->
                <p>{{ sighting.userId }}</p>
              </ion-text>
            </ion-label>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
