<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col style="padding-right: 0;" size="10">
      <ion-item color="background" class="ion-no-padding container">
        <ion-label style="padding-left: 1.3rem; font-size: 1.3rem;" class="custom-label" color="secondary" position="stacked">Location</ion-label>
        <div style="padding-left: 1rem; width: 100%;">
        <!-- <div style="position: relative; left: 1rem; width: 25.5rem;"> -->
          <ion-input class="ion-no-padding" type="text" formControlName="location" (input)="changedAddress($event.target.value)" value="{{enteredAddress}}"></ion-input>
        </div>
      </ion-item>
    </ion-col>
    <ion-col size="2" class="ion-text-end loc-btn-container ion-no-padding">
      <ion-button class="loc-btn" color="primary" size="small" (click)="getLocation()">
        <ion-icon class="loc-icon" name="locate" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
