<ion-content color="background">
  <ion-grid>
    <ion-row>
      <ion-col  size-sm="6" offset-sm="3">
        <ion-img class="small-logo ion-float-end" [src]="logoSvg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
        <ion-text color="secondary">
          <h1>Welcome to WildTypes</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-text color="secondary">
          <p>WildTypes is a public archive of outdoor typography, referenced by typeface, format and industry. Contributions are added by members of the public, with the goal of improving typographic literacy and appreciation. Designers use our app for project research, type selection and pairing, and discovering new ways to choose and use fonts.
          <br />
          Enjoy!</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="btn-row">
      <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
        <ion-button class="btn" color="secondary" fill="outline" routerLink="/sightings">Continue</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
