<ion-header>
  <ion-toolbar color="background">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/sightings"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="!isloading && sighting && sighting.userId === authUserId">
      <ion-button routerLink="/sightings/edit">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="background">
  <ion-grid class="ion-padding details-grid">
    <ion-row *ngIf="searchVisible">
      <ion-col>
        <ion-searchbar showCancelButton="never"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text color="secondary">
          <h1>Details</h1>
        </ion-text>
        <hr>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading" class="ion-no-padding">
    <ion-row class="ion-padding typeface-row">
      <ion-col>
        <ion-text color="secondary">
          <h3>{{ sighting.typefaceName }}</h3>
        </ion-text>
        <ion-text color="dark">
          <p>{{ sighting.businessName }}<ion-text color="primary"><span> • </span></ion-text>{{sighting.category}}</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-img [src]="sighting.photo" class="ion-no-padding"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding ratings-row rm-pad-btm">
      <ion-col>
        <ion-text color="dark">
          <p>Suitable/Effective Useage: <ion-text color="primary"><span>{{sighting.useageRating}}/5</span></ion-text></p>
          <p>Typeface Certainty: <ion-text color="primary"><span>{{sighting.certainty}}%</span></ion-text></p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding rm-pad-top rm-pad-btm">
      <ion-col>
        <ion-text color="dark">
          <h4>Location</h4>
        </ion-text>
        <hr>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding rm-pad-top rm-pad-btm">
      <ion-col size-sm="6">
        <ion-text color="dark" *ngFor="let line of addressArr">
          <p class="address">{{ line }},</p>
        </ion-text>
      </ion-col>
      <ion-col size-sm="6">
        <ion-img class="map" [src]="sighting.location.mapImage"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding ratings-row rm-pad-top">
      <ion-col>
        <hr>
        <ion-text class="added-text" color="dark">
          <p>Added by <ion-text color="secondary">{{sighting.userId}}</ion-text> on <ion-text color="secondary">{{ sighting.date | date }}</ion-text>.</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>
