/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

 @import url('https://fonts.googleapis.com/css?family=Suranna&display=swap');


/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



// h1 {
//     font-family: 'Didot', serif;
//     font-size: 3rem;
// }

h1 {
    margin-top: 0.75rem;
    font-family: 'Suranna', serif;
    font-size: 3.4rem;
    letter-spacing: 0.2rem;
}

hr {
    border-width: 0;
    border-top: 1px solid var(--ion-color-dark);
}

ion-item.form-input {
    ion-label.stacked-label {
        font-size: 1.3rem;
        color: var(--ion-color-secondary);
    }
}

.faux-stacked-label {
    padding-top: 1.15rem;
}

.bg-color {
    background-color: var(--ion-color-background);
}

.small-logo {
    width: 4rem;
    margin: 0.5rem;
}

.lrg-logo {
    width: 10.75rem;
    margin: 0.5rem;
}

.sm-logo-offset {
    position: relative;
    left: 0.3rem;
}

.lg-logo-offset {
    position: relative;
    left: 3.5rem;
}

.centered-h {
    display: flex;
    justify-content: center;
}

.centered-v {
    display: flex;
    align-items: center;
}

.flex-dir-col{
    flex-direction: column;
}

.btn {
    min-width: 12rem;
    height: 2rem;
    padding: 0 0.5rem;

    font-size: 1.125rem;

    --border-radius: 1rem;
}